#navbar{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1E1B8;
    border-bottom: 1px solid #e6e6e6;

    button{
        padding: 0.5em;
        background: transparent;
        width: 9em;
        height: 55px;
        border: none;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 1.7em;
            height: 1.7em;
            margin: 0.1em;
        }
    }
    button:hover{
        background: rgba(0, 0, 0, 0.2);
    }
}

#user-dropdawn{
    top: 55px;
    right: 0px;
    background: #F1E1B8;
    position: absolute;
    button{
        padding: 1em;
        background: transparent;
        width: 10em;
        border: none;
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
    }
    button:hover{
        background: rgba(0, 0, 0, 0.2);
    }
    ul{
        list-style: none;
    }

}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 556px){
    #user-dropdawn{
        button{
            width: 100vw;
        }
    }
}

@media only screen 
and (min-device-height: 320px) 
and (max-device-height: 556px){
    #user-dropdawn{
        button{
            width: 100vw;
        }
    }
}