.modal-background {
    width: 100vw;
    height: 100vh;
    top: 0px;
    background: rgba(0,0,0,0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-root {
    min-width: 300px;
    padding: 1em;

    background-color: white;

    box-shadow: 3px 3px 18px 3px rgba(0,0,0,0.4);

    position: relative;
}