.cardEdit{
    width: 80vw;
    height: 80vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.optionsCard{
    background: #f9f9f9;
    border-radius: 0.7em;
    display: flex;
    flex-wrap: wrap;
    margin: 0.7em;
    position: absolute;
    top: 0;
    right: 0;
}

#titleBoard{
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.titleContainer{
    max-height: 6em;
    border: none;
    padding: 0.5em;
    font-size: 1.3em;
    text-transform: uppercase;
    
    input{
        font-size: 1.3em;
        width: calc(100% - 4em);
        background: transparent;
        text-transform: capitalize;
        color: black;
    }
    
}

.descriptionContainer{
    padding: 0.3em;
    overflow: auto;
    font-size: 1em;
    text-align: justify;
    flex-grow: 1;
    textarea{
        width: calc(100% - 4em);
        height: calc(100% - 2em);
        background: transparent;
        resize: none;
        color: black;
    }
}

#editColor{
    border-radius: 100%;
    background: #f9f9f9;
        svg{
            height: 2em;
            width: 2em;
        }
}

#editColor:hover{
    background: #ccc;
}

